
* {
    margin: 0%;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: white;
}

/* header text */
.header {
    color: white;
    font-size: 1.9rem;
    font-family: verdana;
    font-weight: bolder;
    text-align: center;
    padding-top: 20%;
    animation: header 1s 0.2s ease-in-out both;
}
@keyframes header {
    from{ 
    padding-top: 45%; 
    opacity: 0;    
    }
    to{
 opacity: 1;
    }
}


/* navbar */
.navbar {
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(15px);
    width: 90%;
    height: 3rem;
    position: fixed;
    bottom: 4%;
    left: 5%;
    border-radius: 0.5rem;
    z-index: 100;
    text-align: center;  
    padding: 4%; 
    box-shadow: 0px 1px 4px rgba(19, 18, 18, 0.164);
    animation: navbar 0.5s 0.5s ease-in-out both;
}
@keyframes navbar {    
    from { 
    bottom: -4%;
    }
    to {

    }
}

/* navs */
.navs {
    color: black;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-family: verdana;
}
.navs:hover {
    background: orange;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
}

/* container div */
.container {
    width: 100%;
    height: 92vw;
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.514)),
     url('images/73a21ec135fd9305bf81a664a1f84690.jpg');
    font-size: 1.2rem;
    color: red;
    font-weight: bolder;
    font-family: verdana;
    background-repeat: no-repeat;
    background-size: 105%;
    margin: 0%;
    animation: zoom 10s linear infinite ;
}
@keyframes zoom {
    1% {
            background-size: 100%;
        }
    50% {
 background-position: center;
        background-size: 110%;
    }
}


/* ads slides */
.ads { 
    background: linear-gradient(230deg, orange, rgb(255, 255, 255), orange);    width: 94%;
    margin-left: 3%;
    height: 3rem;
    position: relative;
    border-radius: 0.3rem;
    font-weight: bolder;
    font-size: 1.4rem;
    font-family: helvetica;
    padding: 2%;
    animation: blink 3s ease infinite;
    color: black;
    z-index: 2;
    background-position: right;
    animation: anim 1s ease-in-out;
}
@keyframes anim {
    from {
background-position: center;
    }
    to {
        background-position: left;
    }
}


/* caterer model */
.img-model {
    width: 40%;

}
/* text beide catere model image */
.one {
display: inline-block;
font-size: 2rem;
font-weight: bolder;
font-family: verdana;
padding-left: 3%;
position: absolute;
top: 65%;
left: 37%;
text-wrap: nowrap;
animation: words 0.5s ease-in-out;
}
@keyframes words {
    from {
left: 120%;
text-wrap: nowrap;
    }
    to { 

    }
}

.two {
display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    font-family: verdana;
    padding-left: 3%;
    position: absolute;
    top: 70%;
    left: 37%;
    animation: words 0.75s ease-in-out;
}
.three {   
display: inline-block;
    font-size: 2rem;  
    font-weight: bolder;
    font-family: verdana;
    padding-left: 3%;
    position: absolute;
    top: 76%;
    left: 37%;
    animation: words 1s ease-in-out;
}

/* recent works container */
.recent-cont {  
    background: orange;
width: 96%;
margin-left: 2%;
border-radius: 0.5rem;
padding: 2%;
animation: autoshow ease-in-out both;
animation-timeline: view(90% 5%);
}
@keyframes autoshow {
    from {
opacity: 0;
scale: 0;
    }
    to {
opacity: 1;
scale: 1;
    }
}



/* recent works text*/
.works {
    color: white;
    font-weight: bolder;
    font-family: verdana;
    text-align: center;
    display: block;
    font-size: 2rem;
    padding-bottom: 3%;
}

/* works container including swiping feature */
.works-cont1 ,.works-cont2 {
    width: 96%;
        height: 60vw;
        margin: auto;
        background: none;
        display: flex;
        gap: 2%;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border-radius: 10px;
        border: none;
        scroll-behavior: smooth;
        margin-bottom: 5%;
}


/* pictures inside previous works */
.work {
width: 97%;
    scroll-snap-align: center;
    background: white;
    box-shadow: 0px 0px 7px rgba(2, 2, 2, 0.178) inset;
    padding: 5px 3px;
    flex-shrink: 0;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Services We Offer text*/
.services {
    color: orange;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.151) ;
    font-weight: bolder;
    font-family: HELVETICA;
    text-align: center;
    display: block;
    padding-top: 13%;
    font-size: 1.8rem;
    padding-bottom: 3%;
    animation: autoshow both; 
    animation-timeline: view(75% 15%);
}


/* services container */
.s-cont {
    width: 96%;
    background: none;
    margin-left: 2%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5%;
}

/* services inner text */
.s-text {
    font-family: HELVETICA;
    font-size: 1.2rem;
    text-align: center;
    padding: 3%;
    padding-top: 15%;
    text-wrap: wrap;
    display: block;
    mix-blend-mode:exclusion;
    color: white;
    text-shadow: 0 0 10px rgba(75, 70, 70, 0.856);
    animation: s-text 1s ease-in-out infinite alternate-reverse ;
}
@keyframes s-text {
1% {
    font-size: 0.9rem;
    opacity: 0.3;
    
}
35% {
font-size: 1.1rem;
}

100% {
    font-size: 1.1rem;
}
}

/* sevice */
.svc {
    width: 96%;
    margin: 2%;
    height: 4cm;
    border-radius: 0.5rem;
    animation: ease-in gap both;
    animation-timeline: view(80% 5%); 
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.349));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.288);
}

@keyframes gap {
    from {
        opacity: 0;
        scale: 0;
        font-size: 02rem;
    }

    to {
        opacity: 1;
        scale: 1;
        font-size: 1.08rem;
    }
}


/* book a Table text*/
.b-table-text {
    color: orange;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.151);
    font-weight: bolder;
    font-family: verdana;
    text-align: center;
    display: block;
    padding-top: 13%;
    font-size: 2rem;
    animation: tablee both;
    animation-timeline: view(50% 30%);
}
@keyframes tablee {
    from {
        margin-left: -500%;
    }

    to {
        margin-left: 3%;
    }
}

/*Catchy Quote text*/
.quote {
    color: black;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.151);
    font-weight: bolder;
    font-family: verdana;
    text-align: left;
    margin-left: 5%;
    display: block;
    padding-top: 3%;
    font-size: 1.1rem;
    animation: tablee both;
    animation-timeline: view(45% 10%);
}
/* Book a table container image */
.b-table {
    width: 90%;
    height: 5cm;
    background: url('images/white-t.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5%;
    border-radius: 0.5rem;
    animation: gap both;
    animation-timeline: view(80% 5%);
    animation: tzoom  10s linear infinite alternate;
}
@keyframes tzoom {
    1% {
    background: url('images/white-t.jpg');
        background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
    }
    33.5% {
    background: url('images/date-t.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    }
    63.5% {
    background: url('images/black-t.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    }
}
/* book a  table button*/
.bk-table {
background: orange;
width: 80%;
padding: 3%;
margin-left: 10%;
border-radius: 0.6rem;
font-weight: bolder;
font-size: 1.3rem;
color: white;
border: none;
animation: gap both;
animation-timeline: view(65% 25%);
box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.329);
}

/* testimonies */
.testimony {
    width: 94%;
    height: 1.7cm;
    border-radius: 0.5rem;
    margin-left: 3%;
    margin-top: 10%;
    background: whitesmoke;
padding: 1.5%;
display: flex;
font-family: Verdana;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);
animation: testimony both;
animation-timeline: view(50% 15%);
}
@keyframes testimony {
    from {
        opacity: 0;
margin-left: -100%;   
scale: 0;
 }
    to {
        opacity: 1;
margin-left: 3%;
scale: 1;
}    
}

/* testimony user image */
.testy-image-cont {
    background: url('/images/cake.png');
    width: 13%;
    height: 1.4cm;
border-radius: 0.3rem;
background-position: center;
background-size: cover;
}
/* testimony comment text */
.testy-text {
background: rgba(245, 245, 245, 0.644);
width: 85%;
height: 1.4cm;
margin-bottom: 1%;
margin-left: 2%;
border-radius: 0.3rem;
}

/*Catchy Quote text*/
.quote2 {
    color: black;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.151);
    font-weight: bolder;
    font-family: verdana;
    text-align: center;
    margin-left: 5%;
    display: block;
    padding-top: 13%;
    font-size: 1.2rem;
}





/* sticky social button */
#blurs { 
width: 100%;
height: 100vh;
backdrop-filter: blur(20px);
display: none;
background: rgba(255, 255, 255, 0.363);
position: fixed;
top: 0%;
z-index: 5;
}
#sticky {
   border-radius: 17%;
   position: fixed;
   top: 74%;
   right: 5%;
   font-size: 2.5rem; 
   border: none;
   font-weight: bolder;
   background: orange;
   z-index: 5;
   text-align: center;
   display: block;  
   z-index: 10;
   padding: 1%;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.212);
}
#cancel {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 72%;
    right: 5%;
    display: block;
    background: none;
    border: none;
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 5;
}
#fsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    background-image: url('/images/facebook.jpg');
    background-size: cover;
    background-position: center;
    top: 62%;
    right: 25%;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: fst 0.2s ease-in ; 
}
@keyframes fst {  
    1% {  
top: 75%;
right: 5%;
    }
  90% {
    top: 61%;
    right: 25.5%;
 }
    100% {

    }
}

#wsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;  
    top: 72%;
    right: 40%; 
    background-image: url('/images/whatsapp.png');
    background-size: cover;
    background-position: center;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: wst 0.2s ease-in;
    }
     
    @keyframes wst {
        1% {
            top: 72%;
            right: 5%; 
        }
          90% {
              top: 72%;
              right: 41%;
          }
        100% {

        }
    }
#gsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 80%;
    right: 25%;
    background-image: url('/images/call.png ');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: gst 0.2s ease-in;
    }
    
    @keyframes gst {
        1% {
            top: 72%;
            right: 5%;
        }
          90% {
              top: 81%;
              right: 25.5%;
          }
        100% {}
    }



/* footer */
footer {
    background: rgb(63, 60, 60);
    margin-top: 10%;
    padding: 2%;
}

.f-head1 {
    color: black;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 1.2rem;
    padding: 1%;
    display: block;
}

.f-container1 {
    width: 55%;
    background: rgba(80, 80, 80, 0.815);
    border-radius: 0.5rem;
    height: 5cm;
    display: inline-block;
    text-wrap: wrap;
    word-wrap: break-word;
    padding: 1%;
    margin-bottom: 5%;
}

.f-container2 {
    width: 40%;
    background: rgba(80, 80, 80, 0.815);
    border-radius: 0.5rem;
    height: 5cm;
    margin-left: 3%;
    display: inline-block;
}

/* copyright */
.copyrigt {
    display: block;
    text-align: center;
    padding-top: 2%;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 1rem;
    color: rgb(145, 141, 141);
    margin-top: 15%;
}

.mail {
    text-decoration: none;
    color: black;
    font-family: verdana;
}

.location2 {
    text-decoration: none;
    color: black;
    font-family: verdana;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 0%;
}

.contact {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 60%;
}

a {
    text-decoration: none;
    color: black;
}

/* facebook username text */
.facebook {
    font-weight: bolder;
    display: inline;
    padding-left: 1%;
    padding-top: 0%;
}

/* facebook icon */
.f-image {
    width: 10%;
    margin-left: 3%;
    margin-top: 4%;
    border-radius: 0.7rem;
    display: inline;
}





