

* {
    margin: 0%;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none;
}

/* navbar */
/* navbar */
.navbar {
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(15px);
    width: 90%;
    height: 3rem;
    position: fixed;
    bottom: 4%;
    left: 5%;
    border-radius: 0.5rem;
    z-index: 100;
    text-align: center;
    padding: 4%;
    box-shadow: 0px 1px 4px rgba(19, 18, 18, 0.089);
    animation: navbar 0.5s ease-in-out;
    }
    
    @keyframes navbar {
        from {
            bottom: -4%;
        }
    
        to {}
    }
/* navs */
.navs {
    color: black;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-family: verdana;
}

.navs:hover {
    background: orange;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
}

/* header text */
.header {
    color: goldenrod;
    font-size: 1.7rem;
    font-family: verdana; 
    font-weight: bolder;
    text-align: center;
    padding-top: 20%;
    animation: head 1s ease-in-out;
}
@keyframes head {
    from {
    padding-top: 50%;
    opacity: 0.2;
    }
    to {
    }
}
/* location image */
.img {
    width: 5%;
    display: inline-block;
    margin-left: 10%;
    padding-top: 5%;
}

.location {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
    display: block;
    padding-left: 2%;
    padding-top: 5%;
    display: inline-block;

}

.location-container {
    width: 80%;
    background: rgb(248, 179, 3);
    height: 5cm;
    display: flex;
    border-radius: 0.5rem;
    margin-left: 10%;
    margin-top: 3%;
    padding: 10%;
    font-weight:bolder;
    font-family: monospace;
    font-size: 1.3rem;
    text-align: center;
}

/* Google Map */
.v-gmap {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    display: block;
    padding-top: 15%;
}

.gmap-container {
    width: 70%;
    background: url(/images/MAP.jpg) ;
    background-position: center;
    background-size: 100%; 
    height: 3.5cm;
    display: flex;
    border-radius: 0.5rem;
    margin-left: 15%;
    margin-top: 3%;
    animation: zoom 3s linear infinite alternate;
}
@keyframes zoom {
    from {
background-position: left;
    }
    to {
background-size: 120%;
background-position: center;
    }
}

/* view now btn */
#view-gmap {
    width: 25%;
    padding: 2%;
    background: goldenrod;
    border-radius: 0.4rem;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 37.5%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}


/* STICKY BUTTON */
/* sticky social button */
#blurs {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: none;
    background: rgba(255, 255, 255, 0.363);
    position: fixed;
    top: 0%;
}

#sticky {
    border-radius: 17%;
    position: fixed;
    top: 74%;
    right: 5%;
    font-size: 2.5rem;
    border: none;
    font-weight: bolder;
    background: orange;
    z-index: 5;
    text-align: center;
    display: block;
    z-index: 10;
    padding: 1%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.212);
}

#cancel {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 72%;
    right: 5%;
    display: block;
    background: none;
    border: none;
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 5;
}

#fsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    background-image: url('/images/facebook.jpg');
    background-size: cover;
    background-position: center;
    top: 62%;
    right: 25%;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: fst 0.2s ease-in;
}

@keyframes fst {
    1% {
        top: 75%;
        right: 5%;
    }

    90% {
        top: 61%;
        right: 25.5%;
    }

    100% {}
}

#wsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 72%;
    right: 40%;
    background-image: url('/images/whatsapp.png');
    background-size: cover;
    background-position: center;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: wst 0.2s ease-in;
}

@keyframes wst {
    1% {
        top: 72%;
        right: 5%;
    }

    90% {
        top: 72%;
        right: 41%;
    }

    100% {}
}

#gsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 80%;
    right: 25%;
    background-image: url('/images/call.png ');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
‎/* sticky social button */
‎#blurs { 
‎width: 100%;
‎height: 100vh;
‎backdrop-filter: blur(20px);
‎display: none;
‎background: rgba(255, 255, 255, 0.363);
‎position: fixed;
‎top: 0%;
‎z-index: 5;
‎}
‎#sticky {
‎   border-radius: 17%;
‎   position: fixed;
‎   top: 70%;
‎   right: 5%;
‎   font-size: 2.5rem; 
‎   border: none;
‎   font-weight: bolder;
‎   background: orange;
‎   z-index: 5;
‎   text-align: center;
‎   display: block;  
‎   z-index: 10;
‎   padding: 1%;
‎   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.212);
‎}
‎#cancel {
‎    width: 7.5vh;
‎    height: 7.5vh;
‎    border-radius: 50%;
‎    position: fixed;
‎    top: 65%;
‎    right: 5%;
‎    display: block;
‎    background: none;
‎    border: none;
‎    color: red;
‎    font-size: 1.5rem;
‎    font-weight: bolder;
‎    z-index: 5;
‎}
‎#fsticky {
‎    width: 7.5vh;
‎    height: 7.5vh;
‎    border-radius: 50%;
‎    position: fixed;
‎    background-image: url('/images/facebook.jpg');
‎    background-size: cover;
‎    background-position: center;
‎    top: 55%;
‎    right: 25%;
‎    border: none;
‎    font-weight: bolder;
‎    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
‎    animation: fst 0.2s ease-in ; 
‎}
‎@keyframes fst {  
‎    1% {  
‎top: 68%;
‎right: 5%;
‎    }
‎  90% {
‎    top: 54%;
‎    right: 25.5%;
‎ }
‎    100% {
‎
‎    }
‎}
‎
‎#wsticky {
‎    width: 7.5vh;
‎    height: 7.5vh;
‎    border-radius: 50%;
‎    position: fixed;  
‎    top: 65%;
‎    right: 45%; 
‎    background-image: url('/images/whatsapp.png');
‎    background-size: cover;
‎    background-position: center;
‎    border: none;
‎    font-weight: bolder;
‎    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
‎    animation: wst 0.2s ease-in;
‎    }
‎     
‎    @keyframes wst {
‎        1% {
‎            top: 65%;
‎            right: 5%; 
‎        }
‎          90% {
‎              top: 65%;
‎              right: 46%;
‎          }
‎        100% {
‎
‎        }
‎    }
‎#gsticky {
‎    width: 7.5vh;
‎    height: 7.5vh;
‎    border-radius: 50%;
‎    position: fixed;
‎    top: 73%;
‎    right: 25%;
‎    background-image: url('/images/call.png ');
‎    background-size: contain;
‎    background-repeat: no-repeat;
‎    background-position: center;
‎    border: none;
‎    font-weight: bolder;
‎    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
‎    animation: gst 0.2s ease-in;
‎    }
‎    
‎    @keyframes gst {
‎        1% {
‎            top: 65%;
‎            right: 5%;
‎        }
‎          90% {
‎              top: 73%;
‎              right: 25.5%;
‎          }
‎        100% {}
‎    }
‎




/* footer */
footer {
    background: rgb(63, 60, 60);
    margin-top: 10%;
    padding: 2%;
}

.f-head1 {
    color: black;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 1.2rem;
    padding: 1%;
    display: block;
}

.f-container1 {
    width: 55%;
    background: rgba(80, 80, 80, 0.815);
    border-radius: 0.5rem;
    height: 5cm;
    display: inline-block;
    text-wrap: wrap;
    word-wrap: break-word;
    padding: 1%;
    margin-bottom:5% ;
}

.f-container2 {
    width: 40%;
    background: rgba(80, 80, 80, 0.815);    border-radius: 0.5rem;
    height: 5cm;
    margin-left: 3%;
    display: inline-block;
}

/* copyright */
.copyrigt {
    display: block;
    text-align: center;
    padding-top: 2%;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 1rem;
    color: rgb(145, 141, 141);
    margin-top: 15%;
}

.mail {
    text-decoration: none;
    color: black;
    font-family: verdana;

}

.location2 {
    text-decoration: none;
    color: black;
    font-family: verdana;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 0%;
}

.contact {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 60%;
}

a {
    text-decoration: none;
    color: black;
}

/* facebook username text */
.facebook {
    font-weight: bolder;
    display: inline;
    padding-left: 1%;
    padding-top: 0%;
}

/* facebook icon */
.f-image {
width: 10%;
margin-left: 3%;
margin-top: 4%;
border-radius: 0.7rem;
display: inline;
}







