
* {
    margin: 0%;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    user-select: none;
}


/* header text*/
.header {
    color: goldenrod;
    font-weight: bolder;
    font-family: verdana;
    text-align: center; 
    display: block;
    font-size: 2rem;  
    padding-top: 10%; 
    padding-bottom: 3%; 
    animation: head 1.5s 1.5s ease-in-out both; 
    text-shadow: 0 0 10px rgba(100, 97, 97, 0.158)
}
@keyframes head { 
    from { 
transform: rotateY(180deg);  
    }
    to {

    }
}

/* navbar */
.navbar {
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(15px);
    width: 90%;
    height: 3rem;
    position: fixed;
    bottom: 4%;
    left: 5%;
    border-radius: 0.5rem;
    z-index: 100;
    text-align: center;
    padding: 4%;
    box-shadow: 0px 1px 4px rgba(19, 18, 18, 0.089);
    animation: navbar 0.5s ease-in-out;
    }
    
    @keyframes navbar {
        from {
            bottom: -4%;
        }
    
        to {}
    }

/* navs */
.navs {
    color: black;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-family: verdana;
}

.navs:hover {
    background: orange;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
}

/* caterer model */
/* caterer model */
.img-model {
    width: 85%;  
    margin-left: 15%; 
animation: model 0.8s 1s ease-in-out both;
z-index: 10;
}
@keyframes model { 
    from {     
    opacity: 0;
    } 
    to { 
opacity: 1;
    }
}

/* text beide catere model image */
.one {
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    font-family: verdana;
    padding-left: 3%;
    text-wrap: nowrap;
    position: absolute;
    top: 18%;
    right: 45%;
    animation: words 1.6s ease-in-out;
}
@keyframes words {
    from { 
    top: -18%;
    }   
    to {

    } 
}

.two {
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    font-family: verdana;
    padding-left: 3%;
    position: absolute;
    top: 22.5%;
    right: 79%;
    text-wrap: nowrap;
    animation: words2 1s ease-in-out;
    }
    
    @keyframes words2 {
        from {
    top: -22.5%;   }
        to {

        }
    }

.three {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: verdana;
    padding-left: 3%;
    position: absolute;
    top: 28%;
    right: 57%;
    animation: words2 0.5s ease-in-out;
    }
    
    @keyframes words2 {
        from {
            top: -52.5%;
        }
    
        to {}
    }

/* menu container */
.menu-container {
    width: 90%;
    background: none;
    padding: 6%;
    margin-left: 5%;
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(clamp(15rem, 15vw, 12rem), 1fr));
gap: 3%;
margin-bottom: 50%;
}

/* menu childs */
.m-child {
    background: rgba(245, 245, 245, 0.849);
    margin-top: 0%;
    border-radius: 0.7rem;
    padding: 3%;
    box-shadow: 0 0 10px rgba(14, 13, 13, 0.144);
    transition: ease 0.9s;
animation: apear ease-in-out;
    animation-timeline: view(90% 1%);
}

@keyframes apear {
    from {
        scale: 0;
        opacity: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.m-child:hover {
    transform: scale(1.06);
    border: none;
    box-shadow: 0 0 5px rgba(87, 86, 86, 0.301);
}

/* food image */
.food-img {
    width: 100%;
    background: url('/images/4f3b61f83847f85193a158e0f2322525.png');
    background-size: cover;
    background-position: center;
padding: 45%;
border-radius: 0.7rem;
}
/* food name */
.f-name {
    font-family: verdana;
        padding: 3%;
        display: block;
        font-weight: bold;
        text-align: left;
        font-size: 1.05rem;
}
/* food description */
.description {
    font-family: verdana;
    padding: 3%;
    display: block;
    text-align: left;
    font-size: 1.05rem;
}
/* buy now button */
.buy {
    width: 40%;
    padding: 4%;
    font-size: 1.05rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    border: none;
    margin: 3%;
    margin-left: 30%;
    background: orange;
    color: white;
    transition: transform 0.4s ease; 
    box-shadow: 0 0 7px rgba(85, 82, 82, 0.219);
}

.buy:active {
    transform: scale(1.2);
    border: none;
    box-shadow: 0 0 5px rgba(87, 86, 86, 0.301);
}

/*Catchy Quote text*/
.quote2 {
    color: black;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.151);
    font-weight: bolder;
    font-family: verdana;
    text-align: center;
    margin-left: 5%;
    display: block;
    padding-top: 8%;
    padding-bottom: 10%;
    font-size: 1.2rem;
}

/* sticky social button */
#blurs {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: none;
    background: rgba(255, 255, 255, 0.363);
    position: fixed;
    top: 0%;
    z-index: 5;
}

#sticky {
    border-radius: 17%;
    position: fixed;
    top: 70%;
    right: 10%;
    font-size: 2.5rem;
    border: none;
    font-weight: bolder;
    background: orange;
    z-index: 5;
    text-align: center;
    display: block;
    z-index: 10;
    padding: 1%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.212);
}

#cancel {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 65%;
    right: 5%;
    display: block;
    background: none;
    border: none;
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 5;
}

#fsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    background-image: url('/images/facebook.jpg');
    background-size: cover;
    background-position: center;
    top: 55%;
    right: 25%;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: fst 0.2s ease-in;
}

@keyframes fst {
    1% {
        top: 68%;
        right: 5%;
    }

    90% {
        top: 54%;
        right: 25.5%;
    }

    100% {}
}

#wsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 65%;
    right: 40%;
    background-image: url('/images/whatsapp.png');
    background-size: cover;
    background-position: center;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: wst 0.2s ease-in;
}

@keyframes wst {
    1% {
        top: 65%;
        right: 5%;
    }

    90% {
        top: 65%;
        right: 46%;
    }

    100% {}
}

#gsticky {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    position: fixed;
    top: 73%;
    right: 25%;
    background-image: url('/images/call.png ');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    font-weight: bolder;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.24);
    animation: gst 0.2s ease-in;
}

@keyframes gst {
    1% {
        top: 65%;
        right: 5%;
    }

    90% {
        top: 73%;
        right: 25.5%;
    }

    100% {}
}


/* footer */
footer {
    background: rgb(63, 60, 60);
    margin-top: 10%;
    padding: 2%;
}

.f-head1 {
    color: black;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 1.2rem;
    padding: 1%;
    display: block;
}

.f-container1 {
    width: 55%;
    background: rgba(80, 80, 80, 0.815);
    border-radius: 0.5rem;
    height: 5cm;
    display: inline-block;
    text-wrap: wrap;
    word-wrap: break-word;
    padding: 1%;
    margin-bottom: 5%;
}

.f-container2 {
    width: 40%;
    background: rgba(80, 80, 80, 0.815);
    border-radius: 0.5rem;
    height: 5cm;
    margin-left: 3%;
    display: inline-block;
}

/* copyright */
.copyrigt {
    display: block;
    text-align: center;
    padding-top: 2%;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 1rem;
    color: rgb(145, 141, 141);
    margin-top: 15%;
}

.mail {
    text-decoration: none;
    color: black;
    font-family: verdana;

}

.location2 {
    text-decoration: none;
    color: black;
    font-family: verdana;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 0%;
}

.contact {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding-top: 60%;
}

a {
    text-decoration: none;
    color: black;
}

/* facebook username text */
.facebook {
    font-weight: bolder;
    display: inline;
    padding-left: 1%;
    padding-top: 0%;
}

/* facebook icon */
.f-image {
    width: 10%;
    margin-left: 3%;
    margin-top: 4%;
    border-radius: 0.7rem;
    display: inline;
}






